* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-image: url(engeru.png);
  object-fit: cover;
  background-size: 100%;

}
ul {
  padding-inline-start: 20px;
}
.square {
  background: #fcdcf8;
  /*background: linear-gradient(0deg, rgb(255, 130, 184) 0%, rgb(214, 113, 253) 100%);*/
  border:  5px solid #ff76ca;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -6px;
  margin-top: -6px;
  padding: 0;
  text-align: center;
  width: 100px;
  border-radius: 10px;
  color: #fca4d4;
}
.boardRow::after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 20px;
  font-size: larger;
  font-weight: bolder;
  color: #ee45a8;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  color: #b6065e;
}